:root {
  --sidebar-width: 220px;
}

.sideBarHeader {
  max-height: var(--tt-toolbar-height);
  padding: 0 15px;
}

.contentArea {
  position: relative;

  .sidebar-wrapper {
    display: flex;
    align-items: center;
  }

  .sideBar {
    width: 0;
    height: 100%;
    background: var(--tt-gray-light-a-200);
    transition: width var(--tt-transition-duration-default) var(--tt-transition-easing-default);

    .dark & {
      background: var(--tt-gray-dark-a-50);
    }

    &.open {
      width: var(--sidebar-width);
    }
  }

  .sidebar-button {
    z-index: 10;
    cursor: pointer;
  }
}

.sideBarContent {
  .folderIcon {
    stroke: var(--tt-brand-color-400);
  }

  .fileTab.activeFile {
    background: var(--tt-brand-color-200);

    .dark & {
      background: var(--tt-brand-color-500);
    }
  }
}
